@model IEnumerable<Product>

<a asp-action="AddProduct" asp-controller="Product">Add New Product</a>

@foreach(Product p in Model)
   {
                  <div style="border: 1px solid black">
                      <p>Id: @p.Id</p>
                      <p>Name: @p.Name</p>
                      <p>Price: @m.Price</p>
                      <p>Quantity: @m.Quantity</p>
                      <p>Description: @m.Description</p>

                      <a asp-action="Details" asp-controller="Product" asp-route-Id="@p.Id">Details for @p.Name</a>
                      <br />

                      <a asp-action="Update" asp-controller="Product" asp-route-Id="@p.Id">Update for @p.Name</a>
                      <br />

                      <a asp-action="Delete" asp-controller="Product" asp-route-Id="@p.Id">Delete for @p.Name</a>
                      <br />
                      </div>
                      }
